body {
    background-color: black;
    }
#songs {
    color: red;
    }
ol {
    list-style-type: decimal;
    }
a {
    text-decoration: none;
    background-color: black;
    color: white;
    }
a:hover {
    font-style: italic;
    }